<div class="flex flex-col gap-4 w-3/5 m-auto">
  <ng-container *ngIf="article$ | async as article; else notFound">
    <app-header [header]="article.title"></app-header>

    <img [src]="article.imageUrl" alt="" class="w-2/4 mx-auto mb-8 rounded-lg shadow-lg">

    @for (paragraph of article.content | splitParagraph; track $index) {
    <p>{{ paragraph }}</p>
    }

    <hr class="w-48 h-1 mx-auto my-4 border-0 rounded md:my-10 bg-gray-700">

    <app-comment-section [comments]="comments$ | async"></app-comment-section>
  </ng-container>

  <ng-template #notFound>Article not found</ng-template>

</div>

<!-- TODO: error message for when the article loading fails -->