@if (isLoading) {
  <div class="my-80">
    <app-loading></app-loading>
  </div>
} @else {
  <div class="flex flex-col gap-4 w-3/5 m-auto">
      <div class="flex flex-col">
        <app-header [header]="article?.title"></app-header>
        <p class="text-center font-bold">{{ article?.user?.name }}</p>
        <div class="flex justify-center items-center gap-2">
          <small class="text-center">Publicado em {{ article?.publicationDate | date: 'dd/MM/yyyy' }}</small>
          @if (article?.editDate) {
            <span>•</span>
            <small class="text-center">Atualizado em {{ article?.editDate | date: 'dd/MM/yyyy' }}</small>
          }
        </div>

      </div>

      @if (article?.imageUrl) {
        <img [src]="article?.imageUrl" alt="" class="w-2/4 mx-auto my-8 rounded-lg shadow-lg">
      }

      @for (paragraph of article?.content | splitParagraph; track $index) {
        <p>{{ paragraph }}</p>
      }

      <hr class="w-48 h-1 mx-auto my-4 border-0 rounded md:my-10 bg-gray-700">

      <app-comment-section [articleId]="article?.id"></app-comment-section>
  </div>
}
