<footer class="h-14 flex justify-center items-center gap-12 bg-gray-900 border-gray-600 text-gray-400">
  <p>Desenvolvido por <strong>Paulo Henrique Meneses</strong> no bootcamp <strong>T-Academy</strong></p>
  <ul class="flex gap-4">
    <li>
      <a href="https://github.com/paulohenrique-gh" target="_blank">
        <i class="fa-brands fa-github fa-2xl"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/ph-meneses/" target="_blank">
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      </a>
    </li>
  </ul>
</footer>