<app-header header="Comentários" size="lg"></app-header>

<app-comment-form [articleId]="articleId" (commentSubmitted)="onCommentCreation($event)"></app-comment-form>
@if (comments.length) {
<div class="flex flex-col gap-8">

  @for (comment of comments; track $index) {
  <app-comment [comment]="comment" (clickDelete)="openDeleteConfirmModal(comment)" (commentUpdated)="onCommentUpdate()"></app-comment>
  }
</div>
} @else {
<p class="text-center">Seja o primeiro a comentar!</p>
}

@if (isDeleteModalOpen) {
<app-dialog message="O comentário será excluído" (clickCancel)="closeDeleteModal()" (clickConfirm)="deleteComment()"></app-dialog>
}

<!-- TODO: handle no comments message -->