<div class="block max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Alemanha</h5>

  <dl class="text-gray-400 flex flex-col flex-wrap gap-4">
    <div>
      <dt>População</dt>
      <dd class="text-white">83 milhões de pessoas</dd>
    </div>

    <div>
      <dt>Capital</dt>
      <dd class="text-white">Berlim</dd>
    </div>

    <div>
      <dt>Idioma oficial</dt>
      <dd class="text-white">Alemão</dd>
    </div>

    <div>
      <dt>Moeda</dt>
      <dd class="text-white">Euro (€)</dd>
    </div>

    <div>
      <dt>Forma de governo</dt>
      <dd class="text-white">República parlamentarista federal</dd>
    </div>

    <div>
      <dt>Área</dt>
      <dd class="text-white">357.022 km²</dd>
    </div>

    <div>
      <dt>Estados</dt>
      <dd class="text-white">16 (Länder)</dd>
    </div>

    <div>
      <dt>Maior cidade</dt>
      <dd class="text-white">Berlim</dd>
    </div>

    <div>
      <dt>Fronteiras</dt>
      <dd class="text-white">Dinamarca, Polônia, República Tcheca, Áustria, Suíça, França, Luxemburgo, Bélgica, Holanda
      </dd>
    </div>

    <div>
      <dt>Principal religião</dt>
      <dd class="text-white">Cristianismo (Católicos e Protestantes)</dd>
    </div>

    <div>
      <dt>PIB</dt>
      <dd class="text-white">4,5 trilhões de USD (aproximadamente)</dd>
    </div>

    <div>
      <dt>Clima</dt>
      <dd class="text-white">Temperado</dd>
    </div>

    <div>
      <dt>Principais exportações</dt>
      <dd class="text-white">Automóveis, máquinas, produtos químicos, eletrônicos</dd>
    </div>

    <div>
      <dt>Principais festivais</dt>
      <dd class="text-white">Oktoberfest, Feira do Livro de Frankfurt, Festival de Cinema de Berlim</dd>
    </div>
  </dl>

</div>