<section class="text-lg flex flex-col gap-10">
  <div class="flex gap-8 items-center">
    <img
      src="https://www.tatsachen-ueber-deutschland.de/sites/default/files/styles/style_image/public/2023-01/statInfograf16Lander-desktopPor.png?itok=s0FgOpCr"
      alt="mapa alemanha" class="shadow-lg w-2/5">
    <div class="flex flex-col gap-8">
      <p>
        A Alemanha é um país localizado na Europa Central, conhecido por sua rica história, forte economia e diversidade
        cultural. Faz fronteira com nove países, incluindo França, Áustria e Polônia, o que a coloca no coração do
        continente
        europeu. Berlim é a capital e a maior cidade, além de ser um importante centro histórico e cultural.
      </p>
      <p>
        A Alemanha é composta por 16 estados, conhecidos como "Länder", cada um com características culturais e
        políticas
        próprias. A diversidade de paisagens vai desde as praias do Mar do Norte e Báltico no norte, até os Alpes no
        sul,
        passando por florestas densas, como a Floresta Negra, e regiões vinícolas ao longo dos rios Reno e Mosela.
      </p>
    </div>
  </div>

  <p>
    Historicamente, a Alemanha teve um papel central em eventos globais, como a Reforma Protestante, liderada por
    Martinho Lutero no século XVI, e as Guerras Mundiais no século XX. O país foi dividido durante a Guerra Fria,
    com a
    Alemanha Oriental sob domínio soviético e a Alemanha Ocidental alinhada com o Ocidente. A reunificação em 1990,
    simbolizada pela queda do Muro de Berlim, foi um marco importante, consolidando a Alemanha como uma nação
    unificada
    e democrática.
  </p>

  <p>
    A Alemanha é famosa por sua arquitetura variada, que vai desde castelos medievais, como o famoso Neuschwanstein, até
    modernos edifícios. O país também é conhecido por sua produção industrial avançada, sendo uma potência global em
    setores
    como engenharia automotiva, com marcas como Volkswagen, BMW e Mercedes-Benz.
  </p>

  <p>
    Culturalmente, a Alemanha tem uma rica tradição em filosofia, música e ciência. Nomes como Beethoven, Goethe e
    Einstein
    marcaram a história mundial. Além disso, o país tem uma grande cena artística e oferece festivais culturais e
    eventos
    renomados, como a Oktoberfest, em Munique.
  </p>

  <p>
    A Alemanha é também uma democracia sólida e um dos membros fundadores da União Europeia, desempenhando um
    papel-chave
    nas políticas econômicas e sociais do continente.
  </p>
</section>