<div class="flex gap-8">
  <section class="block max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg" alt="bandeira alemã"
         class="mb-6">

    <dl class="text-gray-400 flex flex-col flex-wrap gap-4">
      <div>
        <dt class="text-sm">População</dt>
        <dd class="text-white">{{ country.populationInMillions }} milhões de pessoas</dd>
      </div>

      <div>
        <dt class="text-sm">Capital</dt>
        <dd class="text-white">{{ country.capital }}</dd>
      </div>

      <div>
        <dt class="text-sm">Idioma oficial</dt>
        <dd class="text-white">{{ country.officialLanguage }}</dd>
      </div>

      <div>
        <dt class="text-sm">Moeda</dt>
        <dd class="text-white">{{ country.currency }}</dd>
      </div>

      <div>
        <dt class="text-sm">Forma de governo</dt>
        <dd class="text-white">{{ country.formOfGovernment }}</dd>
      </div>

      <div>
        <dt class="text-sm">Área</dt>
        <dd class="text-white">{{ country.areaInSquareKm | number: '1.0-0' }} km²</dd>
      </div>

      <div>
        <dt class="text-sm">Estados</dt>
        <dd class="text-white">{{ country.statesQuantity }}</dd>
      </div>

      <div>
        <dt class="text-sm">Maior cidade</dt>
        <dd class="text-white">{{ country.largestCity }}</dd>
      </div>

      <div>
        <dt class="text-sm">Fronteiras</dt>
        <dd class="text-white">{{ country.borders.join(', ') }}</dd>
      </div>

      <div>
        <dt class="text-sm">Principal religião</dt>
        <dd class="text-white">{{ country.mainReligion }}</dd>
      </div>

      <div>
        <dt class="text-sm">PIB</dt>
        <dd class="text-white">{{ country.gdp }}</dd>
      </div>

      <div>
        <dt class="text-sm">Clima</dt>
        <dd class="text-white">{{ country.climate }}</dd>
      </div>

      <div>
        <dt class="text-sm">Principais exportações</dt>
        <dd class="text-white">{{ country.mainExports.join(', ') }}</dd>
      </div>

      <div>
        <dt class="text-sm">Principais festivais</dt>
        <dd class="text-white">{{ country.mainFestivals.join(', ') }}</dd>
      </div>
    </dl>
  </section>

  <section class="w-3/4 flex flex-col gap-8 text-gray-900">
    <app-header header="Alemanha"></app-header>

    <div class="flex flex-col gap-8 items-center text-left">
      @for (paragraph of country.description | splitParagraph; track $index) {
        <p>{{ paragraph }}</p>
      }

      <hr class="w-48 h-1 mx-auto my-4 border-0 rounded md:my-10 bg-gray-700">

      <div>
        <img class="rounded-lg shadow-lg" src="https://i.ibb.co/fS4Tk4m/GM-map.png" alt="mapa da Alemanha">
      </div>

    </div>

  </section>

</div>
