/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.snackbar-custom {
  position: fixed;
  bottom: 1rem;
  right: 3%;
  z-index: 50;
  color: white;
  padding: 1rem;
  border-radius: 0.375rem;
  max-width: 20rem;
  text-align: center;
}

.mdc-snackbar__surface {
  color: #F3FAF7 !important;
  background-color: #03543F !important;
  border-color: #84E1BC !important;
  border-width: .5px;
  border-radius: 5px !important;
  padding: 0;
}

.mdc-snackbar__label {
  font-family: inherit !important;
}
